html,
body {
  padding: 0;
  margin: 0;
  font-family:Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 10px 0;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers {
  padding-right: 0;
  padding-left: 0;
}

.customer {
 padding: 10px;
  margin-top: 10px;
}


.profile img,
.customer img,
.book img {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  border-radius: 4px;
}

.customer-image img {
  width:100%;
}

.title a {
  text-decoration: none;
}

.book {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border: 1px solid #fafafa;
  background: #fdfdfd;
}

.search {
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
}

.search .title {
  background: #eaeaea;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search .col-12{
  padding-left: 0;
  padding-right: 0;
}

.search input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

.top-books-read {
  border-bottom: 1px solid black;
  width: 100%;
  background: #eaeaea;
  margin-top: 20px;
}

.top-books-read-language {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}

.top-books-read-language div {
  border-bottom: 1px solid red;
}

.collapsible {
  width: 100%;
}

.collapsible .col-3 {
 display: flex;
  justify-content: end;
}

.row.profile {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #2f4dc40a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.profile .col-12 {
  display: flex;
  gap: 10px;
}