html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 10px 0;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers {
  padding-right: 0;
  padding-left: 0;
}

.customer {
 padding: 10px;
  margin-top: 10px;
}

.profile {

}

.profile img,
.book img {
  width: 100%;
  max-width: 200px;
}

.customer-image img {
  width:100%;
}

.title a {
  text-decoration: none;
}

.book {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border: 1px solid #fafafa;
  background: #fdfdfd;
}

.search {
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
}

.top-books-read {
  border-bottom: 1px solid black;
  width: 100%;
}

.top-books-read-language {
  border-bottom: 1px solid red;
  width: 100%;
  margin-top: 20px;
}